@font-face {
    font-family: "poppin";
    src: url(../Poppins/Poppins-Medium.ttf);
}

/* navbar */

.navbar-toggler{
    color: #4e2451;    
    width: 60px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.sub_nav {
    font-size: 14px;
}

.navbar{
    background-color: rgb(45, 35, 55);
}

.footerbar{
    background-color: rgb(45, 35, 55);


}



.nav_active {
    color: red !important;
}

.nav-link:hover {
    color: red !important;
}

* {
    font-family: "poppin";
}

.cart_noti {
    position: relative;
    top: -15px;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 0px 4px;
    font-size: 12px;
}

/* partner 
https://codepen.io/Oral_Seventhplanet/pen/Rwgwxmp */
/* carousel */
.carousel_text {
    position: absolute;
    top: 25%;
    left: 12%;
    background-color: rgba(20, 35, 20, .5);
    color: white;
    padding: 30px;
    border-radius: 5px;
}

/* discount */

/* Slider */

.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.divided {
    width: 100px;
    border: 2px solid red;
}

.promotion_img {
    position: relative;
}

.promotion_text {
    position: absolute;
    top: 1%;
    right: 0%;
}

.promotion_amont {
    font-size: 12px;
}

/* new arrival */
.new_arrival_image_hover {
    position: relative;
}

.new_arrival_icon {
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 38%;

}

.new_arrival_image_hover:hover .new_arrival_icon {
    opacity: 1;
}

.new_arrival_image_hover:hover .new_arrival_image {
    opacity: .5;
}

/* advertise */


.service_text{
    font-size: 13px;
}

/* log in */
/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* Start body rules */
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}



/* |||||||||||||||||||||||||||||||||||||||||||||*/
/* //////////////////////////////////////////// */




/* End body rules */

/* Start form  attributes */
form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
/* form Container */
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.05em;}



/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



/* Show/hide password Font Icon */
#eye {
    background: #fff;
    color: #333;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}
/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #331e36;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    /* float: left; */
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.btn-mobile-menu{
    color: #561d59;


}

.text-color{
    color: #561d59;
}

.left{
    align-content: end;
}

/* humberger */

/* Mobile nav bar design*/
.row .three{
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
  }
  
  .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  #hamburger.is-active{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger.is-active .line:nth-child(1),
  #hamburger.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  #hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
  
  
    .btn-mobile-menu {
      width:100%;
      float: right;
      cursor: pointer;
      display: block;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden; 
    }
    
    .nav-main {
      clear: both;
      height: 0;
      width:50%;
      -webkit-transition: height 0.3s ease;
      transition: height 0.3s ease;
      background: linear-gradient(124deg, #ff2400, #e81d1d,                                 #e8b71d, #e3e81d,                                           #1de840,#1ddde8, #2b1de8,                                   #dd00f3, #dd00f3);
    }
    
   .nav-main {
    font-family: 'Roboto Slab', serif;
      overflow: hidden;
      width:20%;
     margin:0 auto;
    }
     
    .nav-main li{
      list-style-type:none;
    }
    .nav-main ul{
      padding-left:0;
      margin-top:0;
    }
  
    .nav-main a {
      float: none;
      width: 100%;
      display: block;
      border-left: none;
      border-bottom: 1px solid #024109;
      line-height:65px;
      color: black;
      padding-top: 1px; 
      text-decoration:none;
      font-size:1.4rem;
      font-weight:bold;
      text-align:center;
    }
  
    .show-mobile-menu .nav-main {
      height: 201px;  
    }
  body{
    background-color:black;
    margin-top:150px;
  }

  
